* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh !important;
}

.App-header {
  background-color: #353944;
  color: #fff;
  font-size: calc(10px + 1vmin);
  padding: 1rem;
}

.App-header a {
  color: #fff;
  font-weight: normal;
}
.App-header ul,
.App-nav ul {
  padding: 0;
}

.App-header li,
.App-nav li {
  list-style: none;
  display: inline;
  padding: 1rem;
  font-weight: bold;
}

.App-header li:first-child,
.App-nav li:first-child {
  padding-left: 0;
}

.App article {
  padding: 1rem;
}

.App article ul {
  margin: 0;
  padding: 0;
}

.App article ul li {
  list-style: none;
}

.App article h3 {
  font-size: calc(14px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-message {
  background-color: #55a9d6;
  color: white;
  padding: 2rem 1rem;
  text-shadow: 0 1px 0 #444;
}

.App-message.savedMovement,
.App-message.savedEntry {
  background: #51bb7a;
}

.App-message.deleted {
  background: #ff3f69;
}

.App-nav {
  background-color: #353944;
  color: #fff;
  font-size: calc(10px + 1vmin);
  padding: 1rem;
}

a {
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

.capitalize {
  text-transform: capitalize;
}
.error-msg {
  color: #d74e60;
  margin-top: 10px;
}

.error-delete {
  display: flex;
  justify-content: center;
  color: #d74e60;
  margin-top: 20px;
}
