* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh !important;
}

.App-header {
  background-color: #353944;
  color: #fff;
  font-size: calc(10px + 1vmin);
  padding: 1rem;
}

.App-header a {
  color: #fff;
  font-weight: normal;
}
.App-header ul,
.App-nav ul {
  padding: 0;
}

.App-header li,
.App-nav li {
  list-style: none;
  display: inline;
  padding: 1rem;
  font-weight: bold;
}

.App-header li:first-child,
.App-nav li:first-child {
  padding-left: 0;
}

.App article {
  padding: 1rem;
}

.App article ul {
  margin: 0;
  padding: 0;
}

.App article ul li {
  list-style: none;
}

.App article h3 {
  font-size: calc(14px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-message {
  background-color: #55a9d6;
  color: white;
  padding: 2rem 1rem;
  text-shadow: 0 1px 0 #444;
}

.App-message.savedMovement,
.App-message.savedEntry {
  background: #51bb7a;
}

.App-message.deleted {
  background: #ff3f69;
}

.App-nav {
  background-color: #353944;
  color: #fff;
  font-size: calc(10px + 1vmin);
  padding: 1rem;
}

a {
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

.capitalize {
  text-transform: capitalize;
}
.error-msg {
  color: #d74e60;
  margin-top: 10px;
  text-align: center;
}

.error-delete {
  display: flex;
  justify-content: center;
  color: #d74e60;
  margin-top: 20px;
}

/* For Stripe */
.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}
/* 
button {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #f6a4eb;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
} */

.policy-container {
  margin-top: 60px;
  color: white;
  overflow: auto;
  font-weight: 300;
  padding: 10px 25px;
}
.policy-headings {
  font-weight: 400;
  margin: 10px 0;
}
