.header-page {
  background: rgb(54, 44, 86);
  background: linear-gradient(
    9deg,
    rgba(54, 44, 86, 1) 0%,
    rgba(38, 42, 57, 1) 100%
  );
}

ul {
  list-style: none;
}
.list-container {
  margin: 0 auto;
}

.dash-items {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  justify-content: center;
  text-align: left;
}

.dash-items > a {
  color: white;
  width: 100px;
}

.dash-items > a > span {
  color: white;
  margin-left: 10px;
}

.card:first-child {
  margin-top: 25px;
}
