.add-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid #52a9d9;
  padding: 0 14px 14px 14px;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
}
.overlay {
  position: relative;
  height: 225px !important;
}

.modal-form .light label {
  border-bottom: 1px solid white;
}

.single-movement {
  padding: 0 !important;
}
.icon-container {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.delete-container {
  background-color: #d75061;
}

.edit-container {
  background-color: #52a9d9;
  margin: 0px 3px;
}
.entry-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

/* form */
.modal-form-container {
  margin-top: 14px;
}
.inline-form-group {
  display: flex;
  justify-content: space-between;
}
.inline-form-submit {
  padding: 15px 10px 0 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.inline-form {
  width: 45% !important;
  margin-bottom: 5px;
}

.modal-content-name .light {
  margin-left: 0;
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
  font-size: 16px;
}

.unit {
  text-transform: none;
  padding-left: 10px;
  font-size: 0.9rem;
}

.pr {
  width: 40px;
  display: inline-block;
  text-align: right;
}
