/* forms */
.form-login {
  width: 70%;
  margin: auto;
}

.form-main {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.form-main input {
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 20px;
  border: none;
  background-color: transparent;
  outline: none;
}

.form-main label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: white;
  border-bottom: 1px solid white;
}

.form-main .label-name::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid rgb(54, 203, 140);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

/* when input is focused -> move the .label-name/.content-name
AND
when input is valid -> move the .label-name/.content-name  */
.form-main input:focus + .label-name .content-name,
.form-main input:valid + .label-name .content-name {
  transform: translateY(-130%);
  font-size: 14px;
  color: rgb(54, 203, 140);
}

.form-main input:focus + .label-name::after,
.form-main input:valid + .label-name::after {
  transform: translateX(0%);
}
